/* 
  a fancy button - just a demo css module
*/

@value colors: "./colors.css";
@value blue, white, red, green from colors;

.button {
  color: white;
  display: inline-block;
  font-family:sans-serif;
  font-size: 16px;
  width: 100%;
  border-radius: 20px;
  padding: 10px;
  text-align:center;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  background-color: white;  
}

.blue {
  background-color: blue;  
  border: 2px solid blue;
}

.blue:hover {
  color: blue;
}

.red {
  background-color: red;  
  border: 2px solid red;
}

.red:hover {
  color: red;
}

.green {
  background-color: green;  
  border: 2px solid green;
}

.green:hover {
  color: green;
}
